.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* component styling */
.mainContentContainer{
  display: flex;
}
.landingContainer {
  display:block;
  background-color: rgb(16, 16, 69);
}
.logo {
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  width: 70%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.hideColorLogo {
  opacity: 0%;
}
.showColorLogo {
  opacity: 100%;
}

#partnerSection{
  display: flex;
  flex: column;
  flex-wrap: wrap;
}
.partnerDiv{
  display:inline-block;
  height: inherit;
  width: auto;
}